<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [mat-menu-trigger-for]="sortByMenu">
                Sort by {{sort}}
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button (click)="onSortedUpdated('desc')" mat-menu-item>desc</button>
                <button (click)="onSortedUpdated('asc')" mat-menu-item>asc</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    Show {{ itemsShowCount }}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="onItemsUpdated(itemsShowCount)" mat-menu-item>80</button>
                    <button (click)="onItemsUpdated(itemsShowCount)" mat-menu-item>120</button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-card>